- if params[:advanced]
  %ul.pills
    %li
      =link_to t(:button_basic,:scope=>[:search, :search]), tools_path
    %li.active
      =link_to t(:button_advanced,:scope=>[:search, :search]), tools_path(:advanced => true)
  = render :partial => 'advanced_search'
-else
  %ul.pills
    %li.active
      =link_to t(:button_basic,:scope=>[:search, :search]), tools_path
    %li
      =link_to t(:button_advanced,:scope=>[:search, :search]), tools_path(:advanced => true)
  .left
    = form_tag tools_path, :method => :get, :class => 'not_dirty', :id => 'returns_form' do
      = text_field_tag(:search, ( params[:search] ? params[:search] : "" ), :title => "Search text in Tool Card")
      =image_tag 'Search.png', :width => 30, :height => 30, :onclick => "$('#returns_form').submit();"
