:javascript
  // this is here so we can render a tab from a controller.  see MyPages#edit
  anchor = "#{params[:anchor]}";

.page-header
  %h1
    =image_tag('template/splash_button_search.png', :width => 75)    
    =t :title, :scope => [:search, :search]
    %small
      =t :subtitle, :scope => [:search, :search]
=render :partial => 'search'

