.page-header
  %h1
    =t :title, :scope => [:search, :search]
    %small
      =t :subtitle, :scope => [:search, :search]
=render :partial => 'search'
=render :partial => 'shared/tic_search_results'
