%div.actions
  %strong
    Quick Links:
  = action_images [@tool], :exclude => [:show, :edit, :delete] 

%h1
  = "#{@tool.name}"
  
%h4 Description
%ul.show_list
  %li
    .label_for_list Author
    =@tool.author 
    &nbsp;
  %li 
    .label_for_list Date Created
    =@tool.date_created.try(:to_formatted_s,:short_with_year)
    &nbsp;
  %li
    .label_for_list Language
    =@tool.language
    &nbsp;
  %li
    .label_for_list Relevant Pages
    =@tool.relevant_pages
    &nbsp;
  %li
    .label_for_list Total Pages
    =@tool.total_pages
    &nbsp;
  %li
    .label_for_list Source Document
    =link_to @tool.source_document_file_name, @tool.source_document.url if @tool.source_document_file_name
    &nbsp;
  %li
    .label_for_list File Size
    =@tool.source_document_file_size
    KB
    &nbsp;
  %li
    .label_for_list File Format
    =@tool.source_document_content_type
    &nbsp;
  %li
    .label_for_list Description
    .description
      =simple_format @tool.description    
    &nbsp;
%br
.clear_both

%h4 Complexity
%ul.show_list
  %li
    .label_for_list Reading Level
    =@tool.reading_level 
    &nbsp;
  %li 
    .label_for_list Jargon Used
    =@tool.jargon
    &nbsp;
  %li
    .label_for_list Steps
    =@tool.steps
    &nbsp;
    
%h4 Where (What types of communities can this tool be used to benefit?)
%ul.show_list
  %li
    .label_for_list
    -@tool.where?.each do |w|
      =w.humanize
      %br
    %br
  %li
    .label_for_list This tool was made in
    =@tool.where
      
%h4 When (At what stage of the CED project cycle is this tool most useful?)
%ul.show_list
  %li
    .label_for_list
    -@tool.when?.each do |w|
      =w.humanize
      %br
      
%h4 Why (What is the purpose of using this particular tool?)
%ul.show_list
  %li
    .label_for_list
    -@tool.why?.each do |w|
      =w.humanize
      %br 
      
%h4 How (What resources and or instructions are needed to use the tool?)
%ul.show_list
  %li
    .label_for_list  Cost To Obtain
    =@tool.cost_to_obtain  
    &nbsp;
  %li
    .label_for_list Cost To Use
    =@tool.cost_to_use    
    &nbsp;
  %li
    .label_for_list Time To Use
    =@tool.time_to_use   
    =@tool.time_to_use_type
    &nbsp;
  %li
    .label_for_list Electronics Equipment
    =@tool.electronics_equipment
    &nbsp;    
  %li
    .label_for_list Software
    =@tool.software
    &nbsp;    
  %li
    .label_for_list Method Of Access
    =@tool.method_of_access
    &nbsp;    
  %li
    .label_for_list Other Resources Needed
    =@tool.other_resources_needed
    &nbsp;
  %li
    .label_for_list Activities Involved
    =@tool.activities_involved
    &nbsp;    
  %li
    .label_for_list Expertise Needed
    =@tool.expertise_needed
    &nbsp;    

   
%h4 Who (What types of organizations can this tool be used to benefit?)
%ul.show_list
  %li
    .label_for_list
    -@tool.who?.each do |w|
      =w.humanize
      %br      
      
      
      

        

    
    
  
.clear
%div.actions_footer.clear
  = action_links [@tool], :exclude => [:show, :edit, :delete]