%h1
  ="A new tool was created: #{@tool.name}"

%h4
  Description
=@tool.description  
%p
=" To view this tool just follow this link: #{tool_url('en', @tool)}"

%p
="Thanks for using #{Rails.configuration.app_name} and have a great day!"