%h1
  ="A tool was reviewed (#{@review.rating} stars): #{@review.tool.name}"

%p
=" To view this review just follow this link: #{tool_review_url('en', @review.tool, @review)}"

%p
="Thanks for using #{Rails.configuration.app_name} and have a great day!"