
.field_with_errors
  :display inline
  
.show_list
  :list-style none
  li
    :display block
    :padding 2px
    div.label_for_list
      :font-weight bold
      :float left
      :width 200px
    div.description
      :display block
      :float left

div.actions
  :float right
  :border #308ABB + #333 "1px solid"
  :padding 5px 8px
  :margin-top 20px
  :border-radius 5px 
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  
table#topbar, table.none
  :border-width 0px
  :cellspacing 0px
  :margin 0px
  :padding 0px
  td
    :border 0px
    :vertical-align bottom

.left
  :float left
.box
  :float left
  :width 20px
  :height 20px
.blue
  :background-color #12B7A7
.green
  :background-color #ADCC02
.orange
  :background-color #F7B308
.red
  :background-color #FD5D11 
.brown
  :background-color #7E573A     

.clear_both
  :clear both  
#content
  :min-height 500px
  :height auto!important
  :height 500px  
#topbar, #topbar a
  :color #7E573A
  :font-size 28px 
  :text-decoration none 
  
#masthead
  :background-color #ffffff
  :background transparent url(../images/topbar.jpg) bottom center 
  :background-repeat repeat-x

#footer
  :background-color #7E573A
  :background-repeat no-repeat
  
#masthead div.inner, #footer div.inner 
  :padding 45px 0
  :-webkit-box-shadow inset 0 10px 30px rgba(0, 0, 0, 0.3)
  :-moz-box-shadow inset 0 10px 30px rgba(0, 0, 0, 0.3)
  :box-shadow inset 0 10px 30px rgba(0, 0, 0, 0.3)

  
#masthead p, #footer, #footer h1, #masthead h1, #masthead a
  :color #F7B308
  :text-shadow 0 1px 1px rgba(0,0,0,.3)  
  :text-decoration none
  
#footer a
  :color #F7B308
  :font-weight bold
  
#masthead
  margin-top: 0px
  
#masthead h1, #masthead p
  :text-align center
  :margin-bottom 9px

#masthead h1 
  :font-size 54px
  :line-height 1
  :text-shadow 0 1px 2px rgba(0,0,0,.5)

#masthead p 
  :font-weight 300

#masthead p.lead 
  :font-size 20px
  :line-height 27px
   
div.quickstart 
  :background-color #f5f5f5
  :background-repeat repeat-x
  :background-image -khtml-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5))
  :background-image -moz-linear-gradient(#f9f9f9, #f5f5f5)
  :background-image -ms-linear-gradient(#f9f9f9, #f5f5f5)
  :background-image -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #f5f5f5))
  :background-image -webkit-linear-gradient(#f9f9f9, #f5f5f5)
  :background-image -o-linear-gradient(#f9f9f9, #f5f5f5)
  :-ms-filter "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f5f5f5', GradientType=0)"
  :filter progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f5f5f5', GradientType=0)
  :background-image linear-gradient(#f9f9f9, #f5f5f5)
  :border-top 1px solid #fff
  :border-bottom 1px solid #eee

div.quickstart div.row 
  :margin 0 -20px
  :-webkit-box-shadow 1px 0 0 #f9f9f9
  :-moz-box-shadow 1px 0 0 #f9f9f9
  :box-shadow 1px 0 0 #f9f9f9

div.quickstart div.columns 
  :width 285px
  :height 117px
  :margin-left 0
  :padding 17px 20px 26px
  :border-left 1px solid #eee
  :-webkit-box-shadow inset 1px 0 0 #f9f9f9
  :-moz-box-shadow inset 1px 0 0 #f9f9f9
  :box-shadow inset 1px 0 0 #f9f9f9

div.quickstart div.columns:last-child 
  :border-right 1px solid #eee
  :width 286px

div.quickstart h6, div.quickstart p 
  :line-height 18px
  :text-align center
  :margin-bottom 9px
  :color #333

div.quickstart h6 
  :color #999

div.quickstart form textarea 
  :display block
  :width 275px
  :height auto
  :margin 0 0 9px
  :line-height 21px
  :white-space nowrap
  :overflow hidden

