.page-header
  %h1
    =image_tag('template/splash_button_grow.png', :width => 75)  
    =t :title, :scope => [:search, :grow]
    %small
      =t :subtitle, :scope => [:search, :grow]

=render :partial => 'shared/search', :locals => {:path => grow_path}
=render :partial => 'shared/tic_search_results'  
