form div.field_with_errors > label, form div.field_with_errors span.help-inline, form div.field_with_errors span.help-block {
  color: #9d261d; }

form div.field_with_errors input, form div.field_with_errors textarea {
  border-color: #c87872;
  -webkit-box-shadow: 0 0 3px rgba(171, 41, 32, 0.25);
  -moz-box-shadow: 0 0 3px rgba(171, 41, 32, 0.25);
  box-shadow: 0 0 3px rgba(171, 41, 32, 0.25); }

form div.field_with_errors input:focus, form div.field_with_errors textarea:focus, form div.field_with_errors select:focus {
  border-color: #b9554d;
  -webkit-box-shadow: 0 0 6px rgba(171, 41, 32, 0.5);
  -moz-box-shadow: 0 0 6px rgba(171, 41, 32, 0.5);
  box-shadow: 0 0 6px rgba(171, 41, 32, 0.5); }

form div.field_with_errors .input-prepend span.add-on, form div.field_with_errors .input-append span.add-on {
  background: #f4c8c5;
  border-color: #c87872;
  color: #b9554d; }
