.page-header
  %h1
    =@user.display_name

%table
  - @user.display_fields.each do |a|
    -if !@user.send(a[0]).blank?
      %tr
        %td
          %p
            =a[1]
        %td{:width => 10}
        %td
          =simple_format @user.send(a[0])
      
.clear_both
%br
%br
%h3
  Reviews
-if !@user.reviews.any?
  This user has not reviewed any tools
-else
  %table.data
    %tr
      - if current_user.try(:is_admin?) || @user.reviews.inactive_by_user(current_user).any?
        %th
          Active
      %th
        User Rating
      %th
        Tool
      %th
        Reviewed At
      %th
        Actions
    -if current_user.try(:is_admin?) || @user == current_user
      -reviews = @user.reviews
    -else
      -reviews = @user.reviews.active
    -reviews.each do |r|
      %tr
        -if current_user.try(:is_admin?) || @user.reviews.inactive_by_user(current_user).any?
          %td
            =status_image(r.active?)
        %td
          =review_stars(r)
        %th
          = link_to r.tool.name, tool_path(r.tool)
          = rating_stars(r.tool)
        %td
          =r.created_at.strftime("%A, %B %d, %Y at %l:%M%p")
        %td
          %span{:style => 'white-space:nowrap'}
            =view_link tool_review_path(r.tool, r) 
            -if current_user.try(:is_admin?) || r.user == current_user
              |
              = edit_link [r.tool, r]
              |
              =link_to status_image(!r.active?) , toggle_active_tool_review_path(r.tool, r), :confirm => "Are you sure you want #{r.active? ? 'deactivate' : 'activate'} to this review?" 