.page-header
  %h1
    =t :account_edit_title, :scope=>[:devise]
    %small
      =t :account_edit_subtitle, :scope=>[:devise]

%p
  =t :account_creation_message, :scope=>[:devise]
  
  
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'form-horizontal', :method => :put } ) do |f| 

  =render :partial => 'admin/users/form', :locals => {:f => f, :text => t(:button_edit, :scope=>[:admin, :accounts])}

  =link_to t(:button_cancel), root_path, :class => 'btn error'

