.page-header
  %h1
    =t :sign_up, :scope => :devise
    %small
      =t :create_an_account, :scope => :devise

%p
  =t :account_creation_message, :scope => :devise

= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html=>{:class=>'form-horizontal'}) do |f| 
  
  =render :partial => 'admin/users/form', :locals => {:f => f, :text => t(:sign_up, :scope => :devise)}
  
  =link_to t(:cancel, :scope => :devise), root_path, :class => 'btn error'

