#flashes
  - if !flash[:notice].blank?
    %div.alert-message.success
      =link_to 'x', '#', :class => 'close'
      %p
        = flash[:notice]

  - if !flash[:error].blank?
    %div.alert-message.error
      =link_to 'x', '#', :class => 'close'
      %p
        = flash[:error]