%table{:border => 0, :cellpadding => 0, :cellspacing => 0}
  %tr
    %td{:valign => 'top'}
      .fb-like{'data-send' => "true", 'data-width' => "450", 'data-show-faces' => "true"}
    %td{:valign => 'top'}
      =link_to 'Tweet', 'https://twitter.com/share', :class => 'twitter-share-button',  'data-via'=>"RDI_BU"