
-if stars.rating_count && stars.rating_count > 0                                               
  .stars{:style => 'background-position:-100px -260px;display:-moz-inline-box;display:inline-block;height:13px;width:65px;text-align:left;vertical-align:baseline;position:relative;top:1px'}
    .stars{:style => "background-position:-100px -275px;height:13px;width:#{((stars.rating.try(:round,1) || 0.0) * 13).to_s}px;overflow:hidden;text-align:left"}
  ="#{stars.rating.try(:round,1) ? '(' + stars.rating.try(:round,1).to_s + '/' + stars.rating_count.to_s  + ')' :  ''}"
  
