
%table#topbar
  %tr
    -if current_user
      %td.special{:valign => 'bottom'}
        .box.brown
        .left
          =link_to 'Admin', '/admin'
    %td.special{:valign => 'bottom'}
      .box.blue
      .left
        About
    %td{:valign => 'bottom'}
      .box.orange
      .left
        Guided    
    %td{:valign => 'bottom'}
      .box.green
      .left
        Search
    %td{:valign => 'bottom'}
      .box.red
      .left
        Reviews            

