
%table.clear_both#topbar
  %tr
    -if current_user
      %td.special
        .box.brown
        .left.text
          =link_to 'Admin', '/admin'
    %td.special
      .box.blue
      .left.text
        =link_to 'About', '/about'
    %td.special
      .box.orange
      .left.text
        Guided    
    %td.special
      .box.green
      .left.text
        =link_to 'Search', tools_path
    %td.special
      .box.red
      .left.text
        Reviews            

