
%table#topbar{:width => '100%', :border => 0, :cellpadding => 0, :cellspacing => 0, :style => 'margin-top:5px'}
  %tr
    -if current_user
      %td{:valign => 'top', :align => 'center'}
        %table.hover{:cellpadding => 0, :cellspacing => 0}
          %tr
            %td.brown{:width => '30px', :height => '30px'}
            %td
              .text
                =link_to 'Admin', '/admin', :class => 'navhover'
    %td.center
      %table.hover{:cellpadding => 0, :cellspacing => 0}
        %tr
          %td.blue{:width => '30px', :height => '30px'}
          %td
            .text
              =link_to 'About', '/about'
    %td.center
      %table.hover{:cellpadding => 0, :cellspacing => 0}
        %tr
          %td.orange{:width => '30px', :height => '30px'}
          %td
            .text
              =link_to 'Admin', '/admin'   
    %td.center
      %table.hover{:cellpadding => 0, :cellspacing => 0}
        %tr
          %td.green{:width => '30px', :height => '30px'}
          %td
            .text
              =link_to 'Search', tools_path
    %td.center
      %table.hover{:cellpadding => 0, :cellspacing => 0}
        %tr
          %td.red{:width => '30px', :height => '30px'}
          %td
            .text
              =link_to 'Admin', '/admin'           

