.page-header
  %h1
    About The Choice Matrix
    %small
      Brief History And Introduction
.row
  .span6.columns
    %h3
      The Choice Matrix
    %p
      Information about the choice matrix
  .span5.columns
    %h3
      Rural Development Institute
    %p
      Information about the choice matrix        
  .span5.columns
    %h3
      Brandon University
    %p
      Information about the choice matrix