%center
  %table.clear_both{:style => 'clear:both;width:75%;border-collapse:collapse;'}
    %tr
      %td
        About
        
      %td
        Guided
       
    %tr
      %td
        Search
       
      %td
        Reviews
       