%center
  %table{:cellpadding => 10, :cellspacing => 10, :border => 0}
    %tr
      %td.blue{:width => '175px', :align => 'center', :height => '175px', :align => 'center', :valign => 'bottom'}
        .fronttext
          About
        
      %td.green{:width => '175px', :align => 'center', :height => '175px', :align => 'center', :valign => 'bottom'}
        .fronttext
          Guided
    %tr
      %td.orange{:align => 'center', :width => '175px', :height => '175px', :align => 'center', :valign => 'bottom'}
        .fronttext
          Search
       
      %td.red{:align => 'center', :width => '175px', :height => '175px', :align => 'center', :valign => 'bottom'}
        .fronttext
          Reviews