.page-header
  %h1
    =image_tag('template/splash_button_green.png', :width => 75)  
    =t :title, :scope => [:search, :green]
    %small
      =t :subtitle, :scope => [:search, :green]
      
=render :partial => 'shared/search', :locals => {:path => green_path}
=render :partial => 'shared/tic_search_results'
   
