.page-header
  %h1
    =t :title, :scope=>[:reviews]
    %small
      =t :subtitle, :scope=>[:reviews]
      =@tool.name

%table{:width => '75%'}
  %tr
    %td{:align => 'left'}
      =form_for [@review.tool, @review], :builder => CmFormBuilder, :html => {:class => 'form-stacked'} do |f|
        = f.error_messages
        = render :partial => "form", :object => f
        %br
        = submit_tag t(:button_submit,:scope=>[:reviews]), :class => "btn btn-primary"
  
        = link_to t(:button_cancel), tool_path(@tool), :class => "btn btn-danger"
      %br
      %br
