.right
  =link_to(image_tag('icon_tic.png', :height => 35, :alt => 'Tool Information Card'), tool_path(@tool), :title => 'Tool Information Card')
.page-header
  %h1
    =t :title, :scope=>[:reviews,:view]
    %small 
      =@tool.name
      = review_stars(@review)


=t :subtext_by, :scope=>[:reviews,:view]
=@review.user ? link_to(@review.user.display_name, user_path(@review.user)) :  'Anonymous'
%p
=t :subtext_on, :scope=>[:reviews,:view]
=@review.created_at.strftime("%A, %B %d, %Y, %l:%M%p")    
  
%br
%br      
%h3
  =t :one, :scope=>[:reviews,:questions]
=@review.experience


%h3
  =t :two, :scope=>[:reviews,:questions]
%p
  =ranking_text(@review.community_context)
%p
  =simple_format('Comment: ' + @review.community_context_comment).html_safe if @review.community_context_comment.present?

%h3
  =t :three, :scope=>[:reviews,:questions]
%p
  =ranking_text(@review.generates_results)

%p
  =simple_format('Comment: ' + @review.generates_results_comment).html_safe if @review.generates_results_comment.present?
  

%h3
  =t :four, :scope=>[:reviews,:questions]
%p
  =ranking_text(@review.resources_identified)
%p
  =simple_format('Comment: ' + @review.resources_identified_comment).html_safe if @review.resources_identified_comment.present?

%h3
  =t :five, :scope=>[:reviews,:questions]
%p
  =ranking_text(@review.format_presentation)
%p
  =simple_format('Comment: ' + @review.format_presentation_comment).html_safe if @review.format_presentation_comment.present?


%h3
  =t :six, :scope=>[:reviews,:questions]
%p
  =ranking_text(@review.adaptable)
%p
  =simple_format('Comment: ' + @review.adaptable_comment).html_safe if @review.adaptable_comment.present?



%h3
  =t :seven, :scope=>[:reviews,:questions]
%p
- if @review.comment.present?
  =simple_format(@review.comment).html_safe
- else 
  =t :none, :scope=>[:reviews,:view]
