.right
  =link_to(image_tag('icon_tic.png', :height => 35, :alt => 'Tool Information Card'), tool_path(@tool), :title => 'Tool Information Card')
.page-header
  %h1
    =t :title, :scope=>[:reviews,:view]
    %small 
      =@tool.name
      = review_stars(@review) 


=t :subtext_by, :scope=>[:reviews,:view]
=@review.user ? link_to(@review.user.display_name, user_path(@review.user)) : "#{@review.full_name} (#{@review.role})"

%p
=t :subtext_on, :scope=>[:reviews,:view]
=@review.created_at.strftime("%A, %B %d, %Y, %l:%M%p")    
  
%br
%br      
%table{:border=>'0', :cellpadding=>'10'}
  %tr
    %td{:valign=>'top'}
      .title4.bold.big
        =t :q_one, :scope=>[:reviews,:questions]
    %td{:valign=>'top'}
      =ranking_text(@review.community_context)

  %tr
    %td{:valign=>'top'}
      .title4.bold.big
        =t :q_two, :scope=>[:reviews,:questions]
    %td{:valign=>'top'}
      =ranking_text(@review.generates_results)
  
  %tr
    %td{:valign=>'top'}
      .title4.bold.big
        =t :q_thr, :scope=>[:reviews,:questions]
    %td{:valign=>'top'}
      =ranking_text(@review.resources_identified)

  %tr
    %td{:valign => 'top'}
      .title4.bold.big
        =t :q_fou, :scope=>[:reviews,:questions]
    %td{:valign=>'top'}
      =ranking_text(@review.format_presentation)
      

  %tr
    %td{:valign => 'top'}
      .title4.bold.big
        =t :q_fiv, :scope=>[:reviews,:questions]
    %td{:valign=>'top'}
      =ranking_text(@review.adaptable)
      

  %tr
    %td{:valign => 'top'}
      .title4.bold.big
        =t :q_six, :scope=>[:reviews,:questions]
    %td{:valign=>'top'}
      - if @review.comment.present?
        =simple_format(@review.comment).html_safe
      - else 
        =t :none, :scope=>[:reviews,:view]
