.right
  =link_to(image_tag('icon_tic.png', :height => 35, :alt => 'Tool Information Card'), tool_path(@tool), :title => 'Tool Information Card')
.page-header
  %h1
    CED Review
    %small 
      =@tool.name
      = review_stars(@review)


Review by
=@review.user ? link_to(@review.user.display_name, user_path(@review.user)) :  'Anonymous'
on
=@review.created_at.strftime("%A, %B %d, %Y at %l:%M%p")    
  
%br
%br      
%h3
  1. What is your experience with this tool?
=@review.experience


%h3
  2. Community Context:
%p
  =ranking_text(@review.community_context)
%p
  =simple_format('Comment: ' + @review.community_context_comment).html_safe if @review.community_context_comment.present?

%h3
  3. Generates Results
%p
  =ranking_text(@review.generates_results)

%p
  =simple_format('Comment: ' + @review.generates_results_comment).html_safe if @review.generates_results_comment.present?
  

%h3
  4. Resources Identified
%p
  =ranking_text(@review.resources_identified)
%p
  =simple_format('Comment: ' + @review.resources_identified_comment).html_safe if @review.resources_identified_comment.present?

%h3
  5. Format/Presentation
%p
  =ranking_text(@review.format_presentation)
%p
  =simple_format('Comment: ' + @review.format_presentation_comment).html_safe if @review.format_presentation_comment.present?


%h3
  6. Adaptable
%p
  =ranking_text(@review.adaptable)
%p
  =simple_format('Comment: ' + @review.adaptable_comment).html_safe if @review.adaptable_comment.present?



%h3
  7. Overall Comments
=simple_format(@review.comment).html_safe
