.page-header
  %h1
    Tools
    %small
      Create, edit and delete tools
=link_to "Submit A New Tool", new_admin_tool_path, :class => 'btn primary'
%br
%br
%table{:cellpadding => 10}
  %tr
    %td    
      %h3
        Manage existing tools 
    %td{:width => 10}
    %td
      =render :partial => 'search'
%br
= page_entries_info @tools, :model => 'Tool' 
%br
%br     
%table.data#search_results{:width => '100%', :border => '0', :cellspacing => 0}
  %thead
    %th
      ID
    %th
      Title
    %th
      Author
    %th
      Source Document
    %th
      Date Created
    %th
      Submitted By
    %th
      Actions
  %tbody
    -@tools.each do |tool|
      %tr
        %td
          =tool.id
        %td
          =tool.name
        %td
          =tool.author
        %td
          =link_to tool.source_document_file_name, tool.source_document.try(:url)  if tool.source_document_file_name
        %td
          =tool.date_created.try(:to_formatted_s,:short_with_year)
        %td
          =tool.created_by.try(:username)
        %td
          %p{:style => 'white-space:nowrap;'}
            =action_images [:admin, tool], :exclude => [:index]
    %tr
      %td{:colspan => 6}
        = will_paginate @tools