%div.form
  %h2=t :title, :scope=>[:admin,:newtool]
  = simple_form_for [:admin, @tool], :html => { :class=>'form-horizontal', :multipart => true }  do |f|
    = render :partial => "form", :object => f
    %br
    = submit_tag t(:button_new,:scope=>[:admin,:newtool]), :class => "btn btn-primary"
    
    = link_to t(:button_cancel), admin_tools_path, :class => "btn btn-danger"
%br
%br
