%div.form
  %h2 Tool Submission Form
  - form_for [:admin, @tool], :builder => CmFormBuilder, :html => { :multipart => true }  do |f|
    = f.error_messages
    = render :partial => "form", :object => f
    %br
    = submit_tag "Create", :class => "btn green"
    
    = link_to "Cancel", admin_tools_path, :class => "btn red"
%br
%br