=render 'shared/tic'  
%br
%h3
  Administration
%br
%ul.show_list
  %li
    .label_for_list Topic
    =@tool.topic
    &nbsp;
  %li
    .label_for_list Copyright
    =@tool.copyright=='1' ? "Yes" : "No"
    &nbsp;    
  %li
    .label_for_list Copyright Holder
    =@tool.copyright_holder
    &nbsp;
  %li
    .label_for_list Copyright Restrictions
    =@tool.copyright_restrictions
    &nbsp;
  %li
    .label_for_list Copyright Permissions
    =@tool.copyright_permissions=='1' ? "Yes" : "No"
    &nbsp;
  %li
    .label_for_list Submitted at
    =@tool.created_at.strftime("%A, %B %d, %Y at %l:%M%p")
    &nbsp;    
  %li
    .label_for_list Submitted by
    =@tool.created_by.try(:username)
    &nbsp;
  %li
    .label_for_list Updated at
    =@tool.updated_at.strftime("%A, %B %d, %Y at %l:%M%p")
    &nbsp;  
  %li
    .label_for_list Comments
    =simple_format @tool.comments
    &nbsp;        

.clear
%div.actions_footer.clear
  = action_links [:admin, @tool], :exclude => [:show]