.datepickertheme .ui-widget {
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
  font-size: 1em; }
  .datepickertheme .ui-widget input, .datepickertheme .ui-widget select, .datepickertheme .ui-widget textarea, .datepickertheme .ui-widget button {
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    font-size: 1em; }
.datepickertheme .ui-widget-header {
  border: #b4b5aa 1px solid;
  background: #d7e8f2 url(../images/bg_blue.jpg) no-repeat 100% 100%;
  color: #333333; }
  .datepickertheme .ui-widget-header a {
    color: white; }
  .datepickertheme .ui-widget-header .ui-icon {
    background-image: url(../images/jquery-ui-theme-dark/ui-icons_ffffff_256x240.png); }
  .datepickertheme .ui-widget-header .title-start {
    color: #308abb; }
  .datepickertheme .ui-widget-header select {
    font-size: 1em;
    padding: 0; }
.datepickertheme .ui-widget-content {
  border: #b4b5aa 1px solid;
  background-image: url(../images/bg_white80.png);
  color: #333333;
  -moz-box-shadow: 0 0 10px #999999;
  -webkit-box-shadow: 0 0 10px #999999;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
  .datepickertheme .ui-widget-content a {
    color: #333333; }
  .datepickertheme .ui-widget-content .ui-state-default {
    border: #666666 1px solid;
    color: white;
    outline: none; }
  .datepickertheme .ui-widget-content .ui-state-active {
    border: 1px solid #ffaf0f;
    background: #ffcc00 url(../images/jquery-ui-theme-dark/ui-bg_inset-soft_30_f58400_1x100.png) 50% 50% repeat-x;
    font-weight: bold;
    color: white;
    outline: none; }
  .datepickertheme .ui-widget-content .ui-state-highlight {
    border: 1px solid #cccccc;
    background: #eeeeee url(../images/jquery-ui-theme-dark/ui-bg_highlight-soft_80_eeeeee_1x100.png) 50% top repeat-x;
    color: #308abb; }
  .datepickertheme .ui-widget-content .ui-state-error {
    border: 1px solid #ffb73d;
    background: #ffc73d url(../images/jquery-ui-theme-dark/ui-bg_glass_40_ffc73d_1x400.png) 50% 50% repeat-x;
    color: #111111; }
  .datepickertheme .ui-widget-content .ui-state-error-text {
    color: #111111; }
  .datepickertheme .ui-widget-content .ui-state-disabled {
    opacity: 0.35;
    filter: Alpha(Opacity=35);
    background-image: none; }
  .datepickertheme .ui-widget-content .ui-priority-primary {
    font-weight: bold; }
  .datepickertheme .ui-widget-content .ui-priority-secondary {
    opacity: 0.7;
    filter: Alpha(Opacity=70);
    font-weight: normal; }
  .datepickertheme .ui-widget-content .ui-icon {
    background-image: url(../images/jquery-ui-theme-dark/ui-icons_222222_256x240.png); }
.datepickertheme .ui-state-default {
  background: #666666 url(../images/bg_nav.png) 50% 50% repeat-x;
  font-weight: bold;
  color: white;
  outline: none; }
  .datepickertheme .ui-state-default a {
    color: white;
    text-decoration: none;
    outline: none; }
  .datepickertheme .ui-state-default .ui-icon {
    background-image: url(../images/jquery-ui-theme-dark/ui-icons_cccccc_256x240.png); }
.datepickertheme .ui-state-hover {
  border: 1px solid #59b4d4;
  background: #308abb url(../images/jquery-ui-theme-dark/ui-bg_glass_40_0078a3_1x400.png) 50% 50% repeat-x;
  font-weight: bold;
  color: white;
  outline: none; }
  .datepickertheme .ui-state-hover a {
    color: white;
    text-decoration: none;
    outline: none; }
  .datepickertheme .ui-state-hover .ui-icon {
    background-image: url(../images/jquery-ui-theme-dark/ui-icons_ffffff_256x240.png); }
.datepickertheme .ui-state-focus {
  border: 1px solid #59b4d4;
  background: #0078a3 url(../images/jquery-ui-theme-dark/ui-bg_glass_40_0078a3_1x400.png) 50% 50% repeat-x;
  font-weight: bold;
  color: white;
  outline: none; }
  .datepickertheme .ui-state-focus .ui-icon {
    background-image: url(../images/jquery-ui-theme-dark/ui-icons_ffffff_256x240.png); }
.datepickertheme .ui-state-active {
  border: 1px solid #ffaf0f;
  background: #ffcc00 url(../images/jquery-ui-theme-dark/ui-bg_inset-soft_30_f58400_1x100.png) 50% 50% repeat-x;
  font-weight: bold;
  color: white;
  outline: none; }
  .datepickertheme .ui-state-active a {
    color: white;
    outline: none;
    text-decoration: none; }
  .datepickertheme .ui-state-active .ui-icon {
    background-image: url(../images/jquery-ui-theme-dark/ui-icons_222222_256x240.png); }
.datepickertheme .ui-state-highlight {
  border: #308abb 1px solid;
  background-color: white;
  color: #308abb; }
  .datepickertheme .ui-state-highlight .ui-icon {
    background-image: url(../images/jquery-ui-theme-dark/ui-icons_4b8e0b_256x240.png); }
.datepickertheme .ui-state-error {
  border: 1px solid #ffb73d;
  background: #ffc73d url(../images/jquery-ui-theme-dark/ui-bg_glass_40_ffc73d_1x400.png) 50% 50% repeat-x;
  color: #111111; }
  .datepickertheme .ui-state-error .ui-icon {
    background-image: url(../images/jquery-ui-theme-dark/ui-icons_a83300_256x240.png); }
.datepickertheme .ui-state-error-text {
  color: #111111; }
  .datepickertheme .ui-state-error-text .ui-icon {
    background-image: url(../images/jquery-ui-theme-dark/ui-icons_a83300_256x240.png); }
.datepickertheme .ui-state-disabled {
  opacity: 0.35;
  filter: Alpha(Opacity=35);
  background-image: none; }
.datepickertheme .ui-priority-primary {
  font-weight: bold; }
.datepickertheme .ui-priority-secondary {
  opacity: 0.7;
  filter: Alpha(Opacity=70);
  font-weight: normal; }
.datepickertheme .ui-icon {
  width: 15px;
  height: 15px;
  background-image: url(../images/jquery-ui-theme-dark/ui-icons_cccccc_256x240.png); }
.datepickertheme .ui-icon-carat-1-n {
  background-position: 0 0; }
.datepickertheme .ui-icon-carat-1-ne {
  background-position: -15px 0; }
.datepickertheme .ui-icon-carat-1-e {
  background-position: -32px 0; }
.datepickertheme .ui-icon-carat-1-se {
  background-position: -48px 0; }
.datepickertheme .ui-icon-carat-1-s {
  background-position: -64px 0; }
.datepickertheme .ui-icon-carat-1-sw {
  background-position: -80px 0; }
.datepickertheme .ui-icon-carat-1-w {
  background-position: -95px 0; }
.datepickertheme .ui-icon-carat-1-nw {
  background-position: -112px 0; }
.datepickertheme .ui-icon-carat-2-n-s {
  background-position: -128px 0; }
.datepickertheme .ui-icon-carat-2-e-w {
  background-position: -144px 0; }
.datepickertheme .ui-icon-triangle-1-n {
  background-position: 0 -15px; }
.datepickertheme .ui-icon-triangle-1-ne {
  background-position: -15px -15px; }
.datepickertheme .ui-icon-triangle-1-e {
  background-position: -32px -15px; }
.datepickertheme .ui-icon-triangle-1-se {
  background-position: -48px -15px; }
.datepickertheme .ui-icon-triangle-1-s {
  background-position: -64px -15px; }
.datepickertheme .ui-icon-triangle-1-sw {
  background-position: -80px -15px; }
.datepickertheme .ui-icon-triangle-1-w {
  background-position: -95px -15px; }
.datepickertheme .ui-icon-triangle-1-nw {
  background-position: -112px -15px; }
.datepickertheme .ui-icon-triangle-2-n-s {
  background-position: -128px -15px; }
.datepickertheme .ui-icon-triangle-2-e-w {
  background-position: -144px -15px; }
.datepickertheme .ui-icon-arrow-1-n {
  background-position: 0 -32px; }
.datepickertheme .ui-icon-arrow-1-ne {
  background-position: -15px -32px; }
.datepickertheme .ui-icon-arrow-1-e {
  background-position: -32px -32px; }
.datepickertheme .ui-icon-arrow-1-se {
  background-position: -48px -32px; }
.datepickertheme .ui-icon-arrow-1-s {
  background-position: -64px -32px; }
.datepickertheme .ui-icon-arrow-1-sw {
  background-position: -80px -32px; }
.datepickertheme .ui-icon-arrow-1-w {
  background-position: -95px -32px; }
.datepickertheme .ui-icon-arrow-1-nw {
  background-position: -112px -32px; }
.datepickertheme .ui-icon-arrow-2-n-s {
  background-position: -128px -32px; }
.datepickertheme .ui-icon-arrow-2-ne-sw {
  background-position: -144px -32px; }
.datepickertheme .ui-icon-arrow-2-e-w {
  background-position: -160px -32px; }
.datepickertheme .ui-icon-arrow-2-se-nw {
  background-position: -175px -32px; }
.datepickertheme .ui-icon-arrowstop-1-n {
  background-position: -192px -32px; }
.datepickertheme .ui-icon-arrowstop-1-e {
  background-position: -208px -32px; }
.datepickertheme .ui-icon-arrowstop-1-s {
  background-position: -224px -32px; }
.datepickertheme .ui-icon-arrowstop-1-w {
  background-position: -240px -32px; }
.datepickertheme .ui-icon-arrowthick-1-n {
  background-position: 0 -48px; }
.datepickertheme .ui-icon-arrowthick-1-ne {
  background-position: -15px -48px; }
.datepickertheme .ui-icon-arrowthick-1-e {
  background-position: -32px -48px; }
.datepickertheme .ui-icon-arrowthick-1-se {
  background-position: -48px -48px; }
.datepickertheme .ui-icon-arrowthick-1-s {
  background-position: -64px -48px; }
.datepickertheme .ui-icon-arrowthick-1-sw {
  background-position: -80px -48px; }
.datepickertheme .ui-icon-arrowthick-1-w {
  background-position: -95px -48px; }
.datepickertheme .ui-icon-arrowthick-1-nw {
  background-position: -112px -48px; }
.datepickertheme .ui-icon-arrowthick-2-n-s {
  background-position: -128px -48px; }
.datepickertheme .ui-icon-arrowthick-2-ne-sw {
  background-position: -144px -48px; }
.datepickertheme .ui-icon-arrowthick-2-e-w {
  background-position: -160px -48px; }
.datepickertheme .ui-icon-arrowthick-2-se-nw {
  background-position: -175px -48px; }
.datepickertheme .ui-icon-arrowthickstop-1-n {
  background-position: -192px -48px; }
.datepickertheme .ui-icon-arrowthickstop-1-e {
  background-position: -208px -48px; }
.datepickertheme .ui-icon-arrowthickstop-1-s {
  background-position: -224px -48px; }
.datepickertheme .ui-icon-arrowthickstop-1-w {
  background-position: -240px -48px; }
.datepickertheme .ui-icon-arrowreturnthick-1-w {
  background-position: 0 -64px; }
.datepickertheme .ui-icon-arrowreturnthick-1-n {
  background-position: -15px -64px; }
.datepickertheme .ui-icon-arrowreturnthick-1-e {
  background-position: -32px -64px; }
.datepickertheme .ui-icon-arrowreturnthick-1-s {
  background-position: -48px -64px; }
.datepickertheme .ui-icon-arrowreturn-1-w {
  background-position: -64px -64px; }
.datepickertheme .ui-icon-arrowreturn-1-n {
  background-position: -80px -64px; }
.datepickertheme .ui-icon-arrowreturn-1-e {
  background-position: -95px -64px; }
.datepickertheme .ui-icon-arrowreturn-1-s {
  background-position: -112px -64px; }
.datepickertheme .ui-icon-arrowrefresh-1-w {
  background-position: -128px -64px; }
.datepickertheme .ui-icon-arrowrefresh-1-n {
  background-position: -144px -64px; }
.datepickertheme .ui-icon-arrowrefresh-1-e {
  background-position: -160px -64px; }
.datepickertheme .ui-icon-arrowrefresh-1-s {
  background-position: -175px -64px; }
.datepickertheme .ui-icon-arrow-4 {
  background-position: 0 -80px; }
.datepickertheme .ui-icon-arrow-4-diag {
  background-position: -15px -80px; }
.datepickertheme .ui-icon-extlink {
  background-position: -32px -80px; }
.datepickertheme .ui-icon-newwin {
  background-position: -48px -80px; }
.datepickertheme .ui-icon-refresh {
  background-position: -64px -80px; }
.datepickertheme .ui-icon-shuffle {
  background-position: -80px -80px; }
.datepickertheme .ui-icon-transfer-e-w {
  background-position: -95px -80px; }
.datepickertheme .ui-icon-transferthick-e-w {
  background-position: -112px -80px; }
.datepickertheme .ui-icon-folder-collapsed {
  background-position: 0 -95px; }
.datepickertheme .ui-icon-folder-open {
  background-position: -15px -95px; }
.datepickertheme .ui-icon-document {
  background-position: -32px -95px; }
.datepickertheme .ui-icon-document-b {
  background-position: -48px -95px; }
.datepickertheme .ui-icon-note {
  background-position: -64px -95px; }
.datepickertheme .ui-icon-mail-closed {
  background-position: -80px -95px; }
.datepickertheme .ui-icon-mail-open {
  background-position: -95px -95px; }
.datepickertheme .ui-icon-suitcase {
  background-position: -112px -95px; }
.datepickertheme .ui-icon-comment {
  background-position: -128px -95px; }
.datepickertheme .ui-icon-person {
  background-position: -144px -95px; }
.datepickertheme .ui-icon-print {
  background-position: -160px -95px; }
.datepickertheme .ui-icon-trash {
  background-position: -175px -95px; }
.datepickertheme .ui-icon-locked {
  background-position: -192px -95px; }
.datepickertheme .ui-icon-unlocked {
  background-position: -208px -95px; }
.datepickertheme .ui-icon-bookmark {
  background-position: -224px -95px; }
.datepickertheme .ui-icon-tag {
  background-position: -240px -95px; }
.datepickertheme .ui-icon-home {
  background-position: 0 -112px; }
.datepickertheme .ui-icon-flag {
  background-position: -15px -112px; }
.datepickertheme .ui-icon-calendar {
  background-position: -32px -112px; }
.datepickertheme .ui-icon-cart {
  background-position: -48px -112px; }
.datepickertheme .ui-icon-pencil {
  background-position: -64px -112px; }
.datepickertheme .ui-icon-clock {
  background-position: -80px -112px; }
.datepickertheme .ui-icon-disk {
  background-position: -95px -112px; }
.datepickertheme .ui-icon-calculator {
  background-position: -112px -112px; }
.datepickertheme .ui-icon-zoomin {
  background-position: -128px -112px; }
.datepickertheme .ui-icon-zoomout {
  background-position: -144px -112px; }
.datepickertheme .ui-icon-search {
  background-position: -160px -112px; }
.datepickertheme .ui-icon-wrench {
  background-position: -175px -112px; }
.datepickertheme .ui-icon-gear {
  background-position: -192px -112px; }
.datepickertheme .ui-icon-heart {
  background-position: -208px -112px; }
.datepickertheme .ui-icon-star {
  background-position: -224px -112px; }
.datepickertheme .ui-icon-link {
  background-position: -240px -112px; }
.datepickertheme .ui-icon-cancel {
  background-position: 0 -128px; }
.datepickertheme .ui-icon-plus {
  background-position: -15px -128px; }
.datepickertheme .ui-icon-plusthick {
  background-position: -32px -128px; }
.datepickertheme .ui-icon-minus {
  background-position: -48px -128px; }
.datepickertheme .ui-icon-minusthick {
  background-position: -64px -128px; }
.datepickertheme .ui-icon-close {
  background-position: -80px -128px; }
.datepickertheme .ui-icon-closethick {
  background-position: -95px -128px; }
.datepickertheme .ui-icon-key {
  background-position: -112px -128px; }
.datepickertheme .ui-icon-lightbulb {
  background-position: -128px -128px; }
.datepickertheme .ui-icon-scissors {
  background-position: -144px -128px; }
.datepickertheme .ui-icon-clipboard {
  background-position: -160px -128px; }
.datepickertheme .ui-icon-copy {
  background-position: -175px -128px; }
.datepickertheme .ui-icon-contact {
  background-position: -192px -128px; }
.datepickertheme .ui-icon-image {
  background-position: -208px -128px; }
.datepickertheme .ui-icon-video {
  background-position: -224px -128px; }
.datepickertheme .ui-icon-alert {
  background-position: 0 -144px; }
.datepickertheme .ui-icon-info {
  background-position: -15px -144px; }
.datepickertheme .ui-icon-notice {
  background-position: -32px -144px; }
.datepickertheme .ui-icon-help {
  background-position: -48px -144px; }
.datepickertheme .ui-icon-check {
  background-position: -64px -144px; }
.datepickertheme .ui-icon-bullet {
  background-position: -80px -144px; }
.datepickertheme .ui-icon-radio-off {
  background-position: -95px -144px; }
.datepickertheme .ui-icon-radio-on {
  background-position: -112px -144px; }
.datepickertheme .ui-icon-pin-w {
  background-position: -128px -144px; }
.datepickertheme .ui-icon-pin-s {
  background-position: -144px -144px; }
.datepickertheme .ui-icon-play {
  background-position: 0 -160px; }
.datepickertheme .ui-icon-pause {
  background-position: -15px -160px; }
.datepickertheme .ui-icon-seek-next {
  background-position: -32px -160px; }
.datepickertheme .ui-icon-seek-prev {
  background-position: -48px -160px; }
.datepickertheme .ui-icon-seek-end {
  background-position: -64px -160px; }
.datepickertheme .ui-icon-seek-first {
  background-position: -80px -160px; }
.datepickertheme .ui-icon-stop {
  background-position: -95px -160px; }
.datepickertheme .ui-icon-eject {
  background-position: -112px -160px; }
.datepickertheme .ui-icon-volume-off {
  background-position: -128px -160px; }
.datepickertheme .ui-icon-volume-on {
  background-position: -144px -160px; }
.datepickertheme .ui-icon-power {
  background-position: 0 -175px; }
.datepickertheme .ui-icon-signal-diag {
  background-position: -15px -175px; }
.datepickertheme .ui-icon-signal {
  background-position: -32px -175px; }
.datepickertheme .ui-icon-battery-0 {
  background-position: -48px -175px; }
.datepickertheme .ui-icon-battery-1 {
  background-position: -64px -175px; }
.datepickertheme .ui-icon-battery-2 {
  background-position: -80px -175px; }
.datepickertheme .ui-icon-battery-3 {
  background-position: -95px -175px; }
.datepickertheme .ui-icon-circle-plus {
  background-position: 0 -192px; }
.datepickertheme .ui-icon-circle-minus {
  background-position: -15px -192px; }
.datepickertheme .ui-icon-circle-close {
  background-position: -32px -192px; }
.datepickertheme .ui-icon-circle-triangle-e {
  background-position: -48px -192px; }
.datepickertheme .ui-icon-circle-triangle-s {
  background-position: -64px -192px; }
.datepickertheme .ui-icon-circle-triangle-w {
  background-position: -80px -192px; }
.datepickertheme .ui-icon-circle-triangle-n {
  background-position: -95px -192px; }
.datepickertheme .ui-icon-circle-arrow-e {
  background-position: -112px -192px; }
.datepickertheme .ui-icon-circle-arrow-s {
  background-position: -128px -192px; }
.datepickertheme .ui-icon-circle-arrow-w {
  background-position: -144px -192px; }
.datepickertheme .ui-icon-circle-arrow-n {
  background-position: -160px -192px; }
.datepickertheme .ui-icon-circle-zoomin {
  background-position: -175px -192px; }
.datepickertheme .ui-icon-circle-zoomout {
  background-position: -192px -192px; }
.datepickertheme .ui-icon-circle-check {
  background-position: -208px -192px; }
.datepickertheme .ui-icon-circlesmall-plus {
  background-position: 0 -208px; }
.datepickertheme .ui-icon-circlesmall-minus {
  background-position: -15px -208px; }
.datepickertheme .ui-icon-circlesmall-close {
  background-position: -32px -208px; }
.datepickertheme .ui-icon-squaresmall-plus {
  background-position: -48px -208px; }
.datepickertheme .ui-icon-squaresmall-minus {
  background-position: -64px -208px; }
.datepickertheme .ui-icon-squaresmall-close {
  background-position: -80px -208px; }
.datepickertheme .ui-icon-grip-dotted-vertical {
  background-position: 0 -224px; }
.datepickertheme .ui-icon-grip-dotted-horizontal {
  background-position: -15px -224px; }
.datepickertheme .ui-icon-grip-solid-vertical {
  background-position: -32px -224px; }
.datepickertheme .ui-icon-grip-solid-horizontal {
  background-position: -48px -224px; }
.datepickertheme .ui-icon-gripsmall-diagonal-se {
  background-position: -64px -224px; }
.datepickertheme .ui-icon-grip-diagonal-se {
  background-position: -80px -224px; }
.datepickertheme .ui-corner-tl {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px; }
.datepickertheme .ui-corner-tr {
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px; }
.datepickertheme .ui-corner-bl {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px; }
.datepickertheme .ui-corner-br {
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px; }
.datepickertheme .ui-corner-top {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px; }
.datepickertheme .ui-corner-bottom {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px; }
.datepickertheme .ui-corner-right {
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px; }
.datepickertheme .ui-corner-left {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px; }
.datepickertheme .ui-corner-all {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
.datepickertheme .ui-widget-overlay {
  background: #5c5c5c url(../images/jquery-ui-theme-dark/ui-bg_flat_50_5c5c5c_40x100.png) 50% 50% repeat-x;
  opacity: 0.8;
  filter: Alpha(Opacity=80); }
.datepickertheme .ui-widget-shadow {
  margin: -7px 0 0 -7px;
  padding: 7px;
  background: #cccccc url(../images/jquery-ui-theme-dark/ui-bg_flat_30_cccccc_40x100.png) 50% 50% repeat-x;
  opacity: 0.6;
  filter: Alpha(Opacity=60);
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px; }
