%p
  ="#{t :hello, :scope => :devise} #{@resource.email}!"
  

%p
  =t :reset_request, :scope => :devise

%p
  = link_to t(:change_my_password, :scope => :devise), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)

%p
  =t :didnt_request, :scope => :devise
%p
  =t :wont_change, :scope => :devise
