%table{:width=>'100%'}
  %tr
    %td{:width=>'50%', :valign=>'top'}
      -if current_user.try(:is_admin?) && current_user != @user
        =f.input :is_admin, :label => t(:is_admin?, :scope => :devise)
        =f.input :active,   :label => t(:active?,   :scope => :devise)
        
      - if !self.controller.is_a?(AdminController) && !@user.new_record?
        =f.input :current_password, :label => t(:password, :scope=>[:activerecord,:attributes,:user])
       
      =f.input :username, :label=> t(:username, :scope=>[:devise]), :required => true
      
      =f.input :first_name, :label=> t(:first_name, :scope => :devise)
      =f.input :last_name,  :label => t(:last_name, :scope => :devise)
      
      =f.input :email, :label => t(:email, :scope =>[:devise]), :required => true
      
      =f.input :email_new_tools, :label => t(:email_new_tools, :scope => :devise)
      
      =f.input :email_new_reviews, :label => t(:email_new_reviews, :scope => :devise)
      
      -if @user.is_admin?
        =f.input :email_new_user, :label => t(:email_new_user, :scope => :devise)
      
      - if @user.new_record? 
        =f.input :password, :label => t(:password, :scope => :devise), :required => true
        =f.input :password_confirmation, :label => t(:confirm_password, :scope => :devise), :required => true
      - else
        .bold
          Leave these fields blank if you do not want to change your password:
        %p
        %br
        =f.input :password, :label => t(:password, :scope => :devise) 
        =f.input :password_confirmation, :label => t(:confirm_password, :scope => :devise)
      
    %td{:width=>'50%', :valign=>'top'}
      =f.input :current_role, :label => t(:current_role, :scope => :devise), :required => true
      
      =f.input :organization, :label => t(:organization, :scope => :devise)
      =f.input :city_town,    :label => t(:city_town, :scope => :devise)
      
      =f.input :state_province, :label => t(:state_province,:scope => :devise)
      =f.input :country,        :label => t(:country, :scope => :devise), :priority => ['Canada']
      
      =f.input :address, :input_html=>{ :rows => 3}, :label => t(:address, :scope => :devise)
      
      =f.input :years_of_experience,:label => t(:years_of_experience, :scope => :devise)
      
      =f.input :professional_training_and_accreditation, :input_html=>{:rows => 3}, :label => t(:professional_training, :scope => :devise)
      
%br
- if @user.new_record? 
  %p
  =t :in_the_future, :scope => :devise
  %p
  =t :rdi_appreciates, :scope => :devise
  %p
%br

= f.submit text, :class => 'btn btn-primary'
