= form_tag admin_users_path, :method => :get, :class => 'not_dirty', :id => 'users_form' do
  = text_field_tag(:search, ( params[:search] ? params[:search] : "" ), :title => "User name")
  =image_tag 'Search.png', :width => 30, :height => 30, :onclick => "$('#users_form').submit();"