%h2
  Edit your user account

= form_for [:admin, @user], :builder => CmFormBuilder do |f| 
  = render :partial => 'form', :locals => {:f => f, :text => 'Update User!'}
  =link_to "Cancel", admin_users_path, :class => 'btn error'