.page-header
  %h1
    Accounts
    %small
      All users with login credentials
      

= link_to "Create a new user", new_admin_user_path, :class => 'btn primary'
%br
%br
%table#search_results.data
  %thead
    %tr
      %th
        ID
      %th
        Username
      %th
        Email
  %tbody
    -@users.each do |u|
      %tr
        %td
          =u.id
        %td
          =u.username
        %td
          =u.email