.page-header
  %h1
    =t :sec_accounts, :scope=>[:admin]
    %small
      =t :subtitle, :scope=>[:admin,:accounts]
      

= link_to t(:button_new,:scope=>[:admin,:accounts]), new_admin_user_path, :class => 'btn primary'
%br
%br
=render :partial => 'search'
- if @users
  = page_entries_info @users, :model => 'User' 
%br
%table#search_results.data
  %thead
    %tr
      %th
        =t :heading_id, :scope=>[:admin,:accounts]
      %th
        =t :heading_active, :scope=>[:admin,:accounts]
      %th
        =t :heading_user, :scope=>[:admin,:accounts]
      %th
        =t :heading_revs, :scope=>[:admin,:accounts]
      %th
        =t :heading_name, :scope=>[:admin,:accounts]
      %th
        =t :heading_email, :scope=>[:admin,:accounts]
      %th
        =t :heading_admin, :scope=>[:admin,:accounts]
      %th
        =t :heading_date, :scope=>[:admin,:accounts]
      %th
        =t :heading_actions, :scope=>[:admin,:accounts]
  %tbody
    -@users.each do |u|
      %tr
        %td
          =u.id      
        %td
          =status_image u.active?
        %td
          =u.username
        %td
          =u.reviews.active.count
        %td
          =u.display_name
        %td
          =u.email
        %td
          =status_image u.is_admin? 
        %td
          =u.created_at.to_formatted_s(:short_with_year)
        %td
          %span{:style => 'white-space: nowrap'}
            =action_images [:admin, u], :exclude => [:index], :delete => {:title => t( (u.active? ? :alt_inact : :alt_act),:scope=>[:links]), :alt_text => t( (u.active? ? :alt_inact : :alt_act),:scope=>[:links]), :confirm => t( (u.active? ? :userdel_confirm : :useradd_confirm),:scope=>[:links]), :img_link=>(u.active? ? nil : 'link_icons/tick.png') }
      %tr
    %td{:colspan => 5}
      = will_paginate @users, :renderer => 'WillPaginateHelper::LinkRenderer'          
          
