.page-header
  %h1
    Accounts
    %small
      All users with login credentials
      

= link_to "Create a new user", new_admin_user_path, :class => 'btn primary'
%br
%br
- if @users
  = page_entries_info @users, :model => 'User' 
%br
%table#search_results.data
  %thead
    %tr
      %th
        Active
      %th
        ID
      %th
        Username
      %th
        Email
      %th
        Is Admin?
      %th
        Actions
  %tbody
    -@users.each do |u|
      %tr
        %td
          =u.active? ? 'Yes' : 'No'
        %td
          =u.id
        %td
          =u.username
        %td
          =u.email
        %th
          =u.is_admin? ? "Yes" : 'No'
        %th
          =action_images [:admin, u], :exclude => [:index, :show]
      %tr
    %td{:colspan => 5}
      = will_paginate @users, :renderer => 'WillPaginateHelper::LinkRenderer'          
          