.page-header
  %h1
    =t :sec_stats, :scope=>[:admin]
    %small
      =t :subtitle, :scope=>[:admin,:stats]

%ul
  %li
    =link_to t(:pagereqs,:scope=>[:admin,:stats]), new_admin_stats_page_requests_path
