.page-header
  %h1
    =t :sec_stats, :scope=>[:admin]
    %small
      =t :subtitle, :scope=>[:admin,:stats]
      .btn-group.pull-right
        = link_to admin_index_path, :class => 'btn' do
          %i.icon-arrow-left
          =t :back_admin, :scope=>[:nav_buttons]

%ul
  %li
    =link_to t(:pagereqs,:scope=>[:admin,:stats]), new_admin_stats_page_requests_path
  %li
    =link_to 'Sections', new_admin_stats_sections_path    
  %li
    =link_to 'Referrals', new_admin_stats_referrals_path
