.navbar
  .navbar-inner
    .container{:style => 'color:white;height:100px'}
      %br
      %center
        &copy; Rural Development Institute
        =Time.now.year
        ="- Developed By"
        =link_to 'Beyond The Cube', 'http://www.beyondthecube.ca', :style => 'color:orange'  